body
{
      padding: 0;
      margin: 0;
      background: url(flower.jpg);

}


h1
{
text-align: center;
color: #CDAA54;
font-family: cursive;
}

p
{
color:#2D43A6;
}

table, th, td {
  border:1px solid black;
}
